{% extends 'base.html' %}
{% block title %}
    About
{% endblock %}
{% block body_block %}
    <h1>Acount MyApp</h1>
    <h2>You have visited {{ count }} times</h2>
    <p>
        MySQL Enterprise Monitor auto-discovers your MySQL replication topologies and gives you visibility into the performance, availability, and health of each MySQL instance involved as well as the health of the replication topology as a single logical system. The Replication Status view displays detailed instrumentation available within MySQL 5.7 and the Topology view displays the current configuration of your Replication topologies, enabling you to quickly see the status of the replication topology as a whole, each individual node, and each replication subsystem. Whether you use Group Replication, InnoDB clusters, any form of Master/Slave setup—from a single-source tree hierarchy, circular replication, or a complex, multi-level, multi-source hierarchy—and any possible combination of them, the Topology view allows you to easily see how your Replication topologies are currently functioning.
    </p>
    <a href="/index/"></a>
{% endblock %}